# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.env
.venv
venv/

# IDE settings
.idea/
.vscode/

# OS-specific
.DS_Store